main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

main h1, h2 {
    padding: 0; 
    margin: 0;
    color: var(--header-text-color); 
    transition: var(--elements-transition); 
}
