:root {
    --header-text-color: rgba(255, 255, 255, 0.85);
    --info-text-color: rgba(255, 255, 255, 0.9);
    --search-form-background-color: rgba(255, 255, 255, 0.2);
    --search-form-background-color-hover: rgba(255, 255, 255, 0.3); 
    --search-form-placeholder-color: rgba(255, 255, 255, 0.6); 
    --elements-transition: none; 
    --search-form-transition: none; 
    --backgrounds-transition: none; 
    --overflow-menu-background-color: rgba(255, 255, 255, 0.8);
    --overflow-menu-text-color: rgba(0, 0, 0, 0.8);
    --overflow-menu-text-color-hover: rgba(0, 0, 0, 1);
    --chart-line-color: #FFFFFF; 
}

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

body {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh; 
    min-width: 100vw;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    position: relative; 
    z-index: 1; 
    background: none; 
    background-image: 'linear-gradient(to right, #87ceeb, #1e90ff)'; 
}

main {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100vw;
    flex: 1 0 auto; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; 
}

.icon-button {
    border: none;
    background: none;
    color: var(--header-text-color);
    font-size: 30px;
    cursor: pointer;
    outline: none;
    padding: 0; 
    z-index: 2; 
    transition: var(--elements-transition); 
}

#locate-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#settings-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.icon-button i {
    transition: color 0.3s ease; 
}

.icon-button:hover i {
    color: gray; 
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: var(--backgrounds-transition);
    opacity: 0;
    background-repeat: no-repeat;

}

.background1 {
    background-image: linear-gradient(to right, #87ceeb, #1e90ff);
    opacity: 1; 
}

.background2 {
    background-image: linear-gradient(to right, #87ceeb, #1e90ff);
    opacity: 0; 
}

.dropdown-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--header-text-color); 
    transition: var(--elements-transition); 
}

.dropdown-container h2 {
    color: var(--header-text-color); 
    transition: var(--elements-transition); 
}

.dropdown-menu {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--header-text-color); 
    border-radius: 5px; 
    background-color: var(--search-form-background-color); 
    color: var(--search-form-placeholder-color); 
    appearance: none; 
    transition: var(--elements-transition);
    outline: none; 
    cursor: pointer; 
}

.dropdown-menu:hover {
    background-color: var(--search-form-background-color-hover); 
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropdown-menu:focus {;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropdown-button {
  background-color: ;
  color: var(--search-form-placeholder-color);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 600px) {
    main .h2 {
        font-size: 1.5rem; 
    }
}

.forecast-item {
    color: var(--info-text-color); 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70px; 
}

.forecast-item i {
    margin-top: 20px; 
    font-size: 2rem; 
    transition: var(--elements-transition); 
}

.forecast-item p {
    margin: 5px 0;
    font-size: 1rem;
    transition: var(--elements-transition); 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 1s infinite; 
}

#hourly-forecast-container {
    padding-top: 40px; 
}